// HEADER :: START
header.header
  .container
    .header__wrapper
      a(href="#").header__logo
        img(src='img/logo.png' srcset='img/logo@2x.png 2x')
          
      .header__contents
        a(href="#").header__home
          +icon('ico-home')
              
        ul.header__menu
          li
            a(href="#") особенности
          li
            a(href="#") характеристики
        
        a(href="#").header__userarea
          i.icon.icon-userarea
            
        .header__cta
          .header__cta-btn Купить
          .header__cta-dropdown
            a(href="#").shop
              .shop__icon
                i.icon.icon-logo-mvideo
              .shop__prices
                .shop__price.shop__price--old.shop__price--red 7 000 
                  span руб.
                .shop__price 6 000 
                  span руб.
            a(href="#").shop
              .shop__icon
                i.icon.icon-logo-eplaza
              .shop__prices
                //- .shop__price.shop__price--old.shop__price--blue 7 000 
                //-   span руб.
                .shop__price 6 999 
                  span руб.

        .header__hamburger
          .hamburger.hamburger--squeeze(js-hamburger)
            .hamburger-box
              .hamburger-inner
        

  // MOBILE NAVI :: START
  .mobile-navi
    .mobile-navi__menu
      li.mobile-navi__feature
        a(href="#") БРИТЬЁ
      li.mobile-navi__feature
        a(href="#") СТРИЖКА
      li.mobile-navi__feature
        a(href="#") ДИЗАЙН
      li.mobile-navi__page
        a(href="#") ОСОБЕННОСТИ
      li.mobile-navi__page
        a(href="#") ХАРАКТЕРИСТИКИ

//- include _userarea.pug
