// HEADER :: START
header.header
  .container
    .header__wrapper
      a(href="#").header__logo
        i.icon.icon-logo
          
      .header__contents
        a(href="#").header__home
          +icon('ico-home')
              
        ul.header__menu
          li
            a(href="#") особенности
          li
            a(href="#") характеристики
        
        a(href="#").header__userarea
          i.icon.icon-userarea
            
        .header__cta
          a(href="#") Купить
          
        .header__hamburger
          .hamburger.hamburger--squeeze(js-hamburger)
            .hamburger-box
              .hamburger-inner
        
// HEADER :: END
