---
title: Panasonic shaper
bodyClass: homepage
---
extends shared/_layout
block content
  
  // SECTION HOME
  .section.section--home
    .bg-image
      .bg-image__beard.stroke-animation.stroke-animation--home
        include ../inline-svg/home-beard.svg
      img(src='img/homeImage.jpg' srcset='img/homeImage@2x.jpg 2x')
  
    .section__content
      .container.container--s-offset
        .section__content-holder
          .section__title Шедевр и&nbsp;мастер <br/> в&nbsp;одном лице
          .product-info.section__product
            .product-info__title Новый триммер ER-GD60
            .product-info__text Точность линий, изящество форм&nbsp;&mdash; это i-Shaper, ваш новый инструмент для творчества. Уникальная конструкция триммера и&nbsp;его феноменальный функционал открывают безграничные возможности. Ищите и&nbsp;создавайте свой новый неповторимый образ.
            .product-info__logo
              i.icon.icon-logo-blade
              
